     
   <div *ngIf="ok == 1" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Oba!</strong> Os dados foram alterados com sucesso!
    </div>

       <div *ngIf="ok == 0" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Ops!</strong> Os dados não foram alterados, ocorreu o erro {{this.errorMessage}}
    </div>

<div *ngIf="inscrito && evento" class="evento">
    <h1>
        {{evento.nome}}    
            <button  *ngIf="adm" (click)="gerenciarPagamento()" class="pull-right btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Gerenciar pagamentos</button>
            <button  *ngIf="inscrito.dataDePagamento == null" (click)="confirmarPagamento()" class="pull-right btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Confirmar Pagamento</button>
                   
    </h1>
    
    <div class="well">
       
    <p>Data de inicio: {{evento.dataDeInicio}}</p>
    <p>Data de termino: {{evento.dataDeTermino}}</p>
    <p>Preço da inscrição (R$):   {{evento.precoDaInscricao}}</p>
    <p>Numero estimado de inscritos : {{evento.numeroEstimadoDeInscritos}}</p>
    <br/>
    <div *ngIf="inscrito" class="well">       
    <p *ngIf="inscrito.dataDePagamento != null" >Pagamento Confirmado!</p>
    <p *ngIf="inscrito.dataDePagamento == null">Aguardando Pagamento!</p>   
    <br/>
 
    </div>
    </div>

</div>

<div *ngIf="evento && !inscrito" class="evento">
    <h1>
        {{evento.nome}}    
            <button  *ngIf="adm" (click)="gerenciarPagamento()" class="pull-right btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Gerenciar pagamentos</button>
            <button  (click)="inscricao()" class="pull-right btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Inscreva-se</button>
                   
    </h1>
    
    <div class="well">
       
    <p>Data de inicio: {{evento.dataDeInicio}}</p>
    <p>Data de termino: {{evento.dataDeTermino}}</p>
    <p>Preço da inscrição (R$):   {{evento.precoDaInscricao}}</p>
    <p>Numero estimado de inscritos : {{evento.numeroEstimadoDeInscritos}}</p>
    <br/>   
    </div>

</div>


<button (click)="fechar()" class="btn btn-default">Fechar</button>
