
           
         
    <div class="card-block">
  
                <form class="form form-signin" #logonForm="ngForm">


                                  <h2>Área administrativa</h2> 
   

                    <label for="username" class="sr-only">Email :</label>
                    <input type="email" class="form-control" [(ngModel)]="username" name="username" id="username" placeholder="Email" required autofocus>

                    <label for="password" class="sr-only">Senha :</label>
                    <input type="password" class="form-control" [(ngModel)]="password" name="password" id="password" placeholder="Senha" required>
                    <button (click)="entrar()" type="button" class="btn btn-info btn-block" [disabled]="!logonForm.form.valid" >Entrar</button>
                </form>
                <button type="button" routerLink="/eventos" class="btn btn-default">Voltar para Home</button>
            </div>
    

   