    <h1>
    Cadastrar Usuario    
</h1>
  
  <div *ngIf="ok==0" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Ops!</strong> {{errorMessage}}
</div>
    <form>
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="usuarioNovo.nome">
        </div>
        <div class="form-group">
            <label>Sexo:</label> 
           <label class="radio-inline"><input [(ngModel)]="usuarioNovo.sexo"  value = "M" type="radio" name="optradio">Masculino</label>
           <label class="radio-inline"><input [(ngModel)]="usuarioNovo.sexo"  value = "F" type="radio" name="optradio">Feminino</label>
        </div>
        <div class="form-group">
            <label>Email</label>
             <input type="text" class="form-control" id="email" name="email" [(ngModel)]="usuarioNovo.email">            
        </div>
        <button type="button" (click)="salvar()" class="btn btn-danger">Salvar</button>
        <button type="button" (click)="fechar()" class="btn btn-default">Fechar</button>
    </form>